RATINGS_OUTPUT_DIR=~/Dropbox/HensleyRatings/Data
TEAMS_DATA_FILE=~/Dropbox/HensleyRatings/Data/2026/cf2026teams.csv
PREVIOUS_TEAMS_DATA_FILE=~/Dropbox/HensleyRatings/Data/2025/cf2025teams.csv
SEASON_YEAR=2026
WEEK_SETTINGS_FILE=~/Dropbox/HensleyRatings/Data/2026/WeekSettings.txt
